#navBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  position: sticky;
  overflow: hidden;
  flex-shrink: 0;
}

#navTitle {
  display: flex;
}

#navTypography {
  padding-top: 8px;
}
